<h1 mat-dialog-title>Agregar Card</h1>
<div class="mat-dialog-content">
  <mat-form-field>
    <mat-label>URL del recurso</mat-label>
    <input [(ngModel)]="data.resourceUrl" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input [(ngModel)]="data.title" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titulo secundario</mat-label>
    <input [(ngModel)]="data.secondaryTitle" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Texto de soporte</mat-label>
    <input [(ngModel)]="data.supportingText" matInput />
  </mat-form-field>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">
    Añadir
  </button>
</div>
