<fieldset>
  <legend>CardFormComponent</legend>
  <label for="url-recurso">URL del recurso</label>
  <input
    [(ngModel)]="newCard.resourceUrl"
    type="text"
    id="url-recurso"
    placeholder="URL del recurso"
  />
  <label for="titulo">Título</label>
  <input
    [(ngModel)]="newCard.title"
    type="text"
    id="titulo"
    placeholder="Título"
  />
  <label for="texto-secundario">Texto Secundario</label>
  <input
    type="text"
    [(ngModel)]="newCard.secondaryTitle"
    id="texto-secundario"
    placeholder="Texto secundario"
  />
  <label for="texto-soporte">Texto de Soporte</label>
  <input
    type="text"
    id="texto-soporte"
    placeholder="Texto de Soporte"
    [(ngModel)]="newCard.supportingText"
  />
  <button (click)="onAddCardButtonClick()">➕ Añadir Card</button>
</fieldset>
