<form>
  <mat-form-field>
    <mat-label>URL del recurso</mat-label>
    <input name="resourceUrl" matInput [(ngModel)]="newCard.resourceUrl" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input name="title" matInput [(ngModel)]="newCard.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titulo Secundario</mat-label>
    <input
      name="secondaryTitle"
      matInput
      [(ngModel)]="newCard.secondaryTitle"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Texto Soporte</mat-label>
    <input
      name="supportingText"
      matInput
      [(ngModel)]="newCard.supportingText"
    />
  </mat-form-field>
  <button mat-raised-button (click)="onAddCardButtonClick()">
    ➕ Añadir Card
  </button>
</form>
