:host {
    padding: 1rem;
    border: 1px solid black;
    display: block;
}

:host::before {
    content: 'AppComponent';
    position: absolute;
    background-color: white;
    top: 0;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-flex app-card {
    margin: 1rem;
}

fieldset input {
    display: block;
    margin-bottom: 1rem;
}