.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-flex app-card {
    margin: 1rem;
}

.loading-placeholder {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}